body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 54px;
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    color: #448899;
    font-weight: bold;
    height: 34px;
    padding-bottom: 10px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 5px;
    align-items: center;
    height: 32px;
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 34px;
    
}

.nav-links a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}
.welcome-section {
    background: url('/week1secondface/picture/welcome.png') no-repeat;
    background-position: center 54px;
    background-size: cover;
    height: 214px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 80px 0;
    color: white;
    width:100%;
    margin-bottom: 20px;
    
}
.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}


.welcome-content {
    color: white;
    text-align: left;
}

.welcome-content h1 {
    font-size: 28px;
    margin-bottom: 0px;
}

.welcome-content p {
    font-size:16px;
    margin-bottom:20px
}
.search-bar {
    display: flex;
    align-items: center;
}
#SearchAttraction {
    padding-left: 10px;
}
.welcome-content input[type="text"]::placeholder {
    font-family: 'Noto Sans TC', sans-serif;
    color: #757575;
    font-size: 16px;
    font-weight: 700;
}
.welcome-content input[type="text"] {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 396px;
    height: 44px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-button {
    background-color: #448899;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    width: 60px;
    height: 46px;
}

.image-button img {
    width: 30px; 
    height: 30px; 
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: auto;
}
.carousel-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel-container a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #666666;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}
.carousel-container a:hover{
    color:black;
}
.carousel-container::-webkit-scrollbar {
    display: none;
}
.carousel-button {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 40px; 
    height: 40px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.carousel-button:hover{
    opacity: 1;
}
.carousel-button.left {
    background-image: url('picture/left.png');
}
.carousel-button.right {
    background-image: url('picture/right.png');
}
.attractions{
    display: grid;
    width:1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    flex: 1;
}

.main-item{
    position: relative;
    width: 270px;
    height: 197px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card:hover{
    transform:scale(1.1,1.1);
    transition-duration: 0.5s;
}
.attraction-name{
    position: relative;
    z-index: 1; 
    color: white; 
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    background-color: rgba(0, 0, 0, 0.5); 
    height: 40px;
    padding: 0px 5px 0px 10px;
    font-size: 16px;
    line-height: 40px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 45px;
    line-height: 45px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px; 
}

.attraction-mrt{
    flex: 1;
    font-weight:500;
    font-size: 16px;
    color: #757575;
    padding-left: 10px;
}

.attraction-category{
    flex: 1;
    text-align: right;
    font-weight:500;
    font-size: 16px;
    color: #757575;
    padding-right: 10px;
}

.footer {
    display: flex;
    background-color: #757575;
    color: white;
    justify-content: center;    
    align-items: center; 
    height: 104px;
}

.footer-content{
    font-weight:bold;
    
}

@media(max-width:1250px){
    .carousel {
        width:900px;
    } 
    .logo {
        padding-left:5%;
    }
    .welcome-content {
        margin-left:5%;
    }
    .attractions{
        width:900px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    .main-item{
        width: 290px;
    }
    
}

@media(max-width:950px){
    .carousel {
        width:600px;
    } 
    .logo {
        padding-left:50px;
    }
    .welcome-content {
        margin-left: 50px;
    }
    .attractions{
        width:600px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .main-item{
        width: 290px;
    }
}


@media(max-width:600px){
    .container {
        width: 100%;
    }
    .logo {
        padding-left:20px;
    }
    
    .nav-links li {
        padding: 0;
    }
    .welcome-content {
        margin-left: 20px;
    }
    
    
    .welcome-content input[type="text"] {
        width: 225px;
        height: 44px;
    }
    .carousel {
        width:90%;
    } 
    .attractions{
        width:90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10 px;
    }
    .card{
        width: 100%;
        margin: 0 auto;
    }
    .main-item{
        width: 100%;
    }
    

}


